<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Styled HTML Form</title>
    <!-- Include Tailwind CSS styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body class="bg-gray-100 h-screen flex items-center justify-center">

<div class="bg-white p-8 rounded shadow-md w-96">
    <h2 class="text-2xl font-semibold mb-4">HTML Form</h2>

    <form action="" method="POST">
        {% csrf_token %}
        <div class="mb-4">
            <label for="u" class="block text-gray-600 text-sm font-medium mb-1">Username:</label>
            <input type="text" id="u" name="u" class="w-full border rounded-md py-2 px-3 focus:outline-none focus:border-blue-500">
        </div>

        <div class="mb-4">
            <label for="p" class="block text-gray-600 text-sm font-medium mb-1">Password:</label>
            <input type="password" id="p" name="p" class="w-full border rounded-md py-2 px-3 focus:outline-none focus:border-blue-500">
        </div>
        

        <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Submit</button>
        <a href="{% url 'register' %}" style="color:blue;">Register </a>
    </form>
</div>

</body>
</html>